@font-face {
    font-family:'arzhu';
    src:url('https://cdn.jsdelivr.net/gh/poplar503/CDN@1.0/云峰静龙行书.ttf'); /* 修改成你的字体 */
    font-display:swap
}
h1#site-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}